<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Your Password</title>
  <style>
    * {
      text-decoration: none;
      box-sizing: border-box;
    }

    body {
      background-color: #0f172a;
      margin: 0;
      padding: 20px;
      font-family: Arial, sans-serif;
    }

    .container {
      margin: 0 auto;
      max-width: 500px;
      width: 100%;
      border-radius: 10px;
      overflow: hidden;
      border: 1px solid #334155;
    }

    .btn-link {
      display: inline-block;
      padding: 12px 25px;
      background-color: #0ea5e9;
      color: #ffffff !important;
      border-radius: 6px;
      font-weight: bold;
    }

    .btn-link:hover {
      background-color: #0284c7;
    }

    img {
      width: 35px;
      border-radius: 50%;
    }

    .header {
      background-color: #1e293b;
      color: white;
      padding: 16px 20px;
    }

    .footer {
      background-color: #1e293b;
      color: #cbd5e1;
      padding: 18px;
      text-align: center;
      font-size: 14px;
    }

    .content {
      padding: 24px;
      background-color: #0f172a;
      color: #f1f5f9;
      line-height: 1.7;
    }

    .highlight {
      color: #38bdf8;
    }

    .link-container {
      margin-top: 20px;
      text-align: center;
      word-break: break-word;
    }

    a {
      color: #38bdf8;
    }
  </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h2>{{subject}}</h2>
      </div>
      <div class="content">
        <p>Dear <b>{{name}}</b>,</p>
        <p>
          Reset your password for your Chat App account by clicking the button below. It will expire in 24 hours.
        </p>

        <a href="{{link}}" class="btn-link">Reset Password</a>
      </div>
      <div class="footer">
        <p>
          If you're having trouble clicking the "Reset Password" button, copy and paste the URL below into your browser:
        </p>
         <p>If you did not request for a password reset link, please disregard and delete this email.</p>

        <div class="link-container">
          <a href="{{link}}" class="highlight" style="color: blue;">{{link}}</a>
        </div>
      </div>
    </div>
  </body>
</html>
